@import './variable.scss';

body {
    margin: 0;
    height: 100vh;

    #___gatsby,
    #gatsby-focus-wrapper {
        height: 100%;
    }

    .blog-post {
        .photo-details {
            text-align: center;
            padding: 1rem;
        }
    }
}

.cs-wrapper {
    height: 100%;

    .header-wrapper .cs-app-bar {
        color: $fontColor;
        background-color: $bgColor;
    }

    .cs-footer {
        color: $fontColor;
        background-color: $bgColor;
        padding: $footerPadding;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
        min-height: 6vh;

        .MuiGrid-root {
            .page-menu-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: $footerPadding;
                gap: $footerPadding;

                a {
                    text-decoration: none;
                    color: $fontColor;
                }

                .about-page,
                .contact-page,
                .home-page {
                    cursor: pointer;

                    &:hover {
                        color: $btnColor;
                    }
                }

                .about-page {
                    border-left: 2px solid $fontColor;
                    border-right: 2px solid $fontColor;
                    padding: 0 $footerPadding;
                }
            }
        }
    }
}